.topbar{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: white;
    height: 2%;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
    font-family:sans-serif;
}

.inactive-icons{
    display: flex;
    width: 4rem;
    justify-content: space-between;
    font-size: 1.5rem;
}

.tableTilte{
    font-size: 14px;
    font-weight: 600;
}
.bg-progress-custom {
    background-color: #CFD6E4 !important;
    color: #EFF2F5 !important;
  }

.modalTitle{
    font-size: 12px;
    font-weight: 600;
}

.modalSubTitle{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.tabledisplay{
    margin-left: 0;
    margin-right: 0;
}
.carousel-control-next{
    display:none
}
.carousel-control-prev{
    display: none;
}
@media only screen and (min-width: 600px) {
    .tabledisplay{
        margin-left: 10%;
        margin-right: 10%;
    }
    .carousel-control-next{
        display: flex;
    }
    .carousel-control-prev{
        display: flex;
    }
  }
